<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   <meta name="description" content=" <%= metadesc %>">
    <title><%= titulo %></title>
</head>
<body>
    <%- include('./partials/header.ejs'); -%>
    <div class="hero">
        <h1><%= titulo %></h1>
        <p><%= metadesc %></p>
    </div>
    <section class="container">
    <div class="main">
        <%- cuerpo %>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://quesignificalacancion.netlify.app/blog/<%= slug %>&layout=button_count&size=small&appId=743298639596517&width=131&height=20" width="131" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <div class="categoria">
            Categoria: <a href="/categoria/<%= categoria %>"><%= categoria %></a>
        </div>
        <div id="relacionadas"></div>
    </div>
    <div class="sideBar">
        <div class="social">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FakelarreDigital&tabs=timeline&width=320&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=743298639596517" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        </div>
        <div class="social" id="youtube">
            <span>Suscribete al canal de Youtube</span>
            <script src='https://apis.google.com/js/platform.js'></script>
            <div class='g-ytsubscribe' data-channelid='UCPGp7WB0l2cC41_NQQdQeHA' data-layout='full' data-theme='dark'></div>

        </div>
    </div>
</section>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>
<script type="module">
      import firebaseConfig from "../db.js"
  firebase.initializeApp(firebaseConfig);
  const db = firebase.firestore()
  db.collection("blog").where("categoria", "==", "<%= categoria %>").limit("3")
  .get()
  .then((querySnapshot) => {
    querySnapshot.forEach((doc) => {
        const post= doc.data()
        const id= doc.id
        document.getElementById("relacionadas").innerHTML+=`
        <a href="/blog/${id}"><div class="card" id="${id}">
            <img class="cardImg" src="${post.imgDes}">
            <h2 class="cardTitle">${post.titulo}</h2>
            </div></a>`               
          })
        }
    
    )
</script>
<!-- <script type="module" src=""></script> -->
<footer>
    <%- include('./partials/footer.ejs'); -%>
</footer>
</body>
</html>